# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
venv/
.env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
